node_modules
.next
dist
build
.turbo
.env
.env.local
.DS_Store
**/.DS_Store
coverage
*.tsbuildinfo
storage/*
!storage/screenshots/
storage/screenshots/*
!storage/screenshots/.gitkeep
!storage/reports/
storage/reports/*
!storage/reports/.gitkeep
prisma/migrations
node_modules
